<h1>Hello there!</h1>
<form action="/birthday" method="post">
  <p>What's your name?</p>
    <input type="text" name="name">
  <p>When's your next birthday?</p>
    <input type="date" name="birthday">
    <input type="submit" value="Go!">
</form>